$yellow:#fffAAA;

@mixin margenes($top,$bottom){
	margin-top:$top;
	margin-bottom:$bottom;
}

.jumbotron {
	background-color: $yellow;
	color: white;
	@include margenes (50px, 0px);
}
footer {
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	@include margenes (20px, 0px);
}
.btn {
	color: $yellow;
}
.card-hotel {
	flex: 1 150px;
	margin-top: 10px;
	border-color:$yellow;
}
.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;	
}

.tab-content{
	padding-top:10px;
	}
