.jumbotron {
  background-color: #4dab55;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #4dab55;
  margin-bottom: 0px;
  margin-top: 20px;
}
.btn {
  color: #4dab55;
}
.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
  border-color: #4dab55;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
