@verde:#4dab55; 

.margenes(@top:0px,@bottom:0px){
	margin-top:@top;
	margin-bottom:@bottom;
}

.jumbotron {
	background-color: @verde;
	color: white;
	.margenes (50px, 0px);
}
footer {
	padding: 10px 10px 0 10px;
	background-color: @verde;
	margin-bottom: 0px;
	margin-top: 20px;
}
.btn {
	color: @verde;
}
.card-hotel {
	flex: 1 150px;
	margin-top: 10px;
	border-color:@verde;
}
.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;	
}

.tab-content{
	padding-top:10px;
	}
