.jumbotron {
  background-color: #fffAAA;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #fffAAA;
  margin-top: 20px;
  margin-bottom: 0px; }

.btn {
  color: #fffAAA; }

.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
  border-color: #fffAAA; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
